﻿@model IEnumerable<Company>


<partial name="_Notification"></partial>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Company List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Company
            </a>
        </div>
    </div>
    <br />


    <table class="table table-bordered table-striped" style="width:100%" id="tblData">
        <thead>
            <tr>
                <th>Name</th>
                <th>Addess</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Operations</th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script>
        var dataTable;
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/Admin/Company/GetAll"
                },
                "columns": [
                    { "data": "name", "width": "15%" },
                    { "data": "streetAddress", "width": "15%" },
                    { "data": "city", "width": "15%" },
                    { "data": "state", "width": "15%" },
                    { "data": "phoneNumber", "width": "15%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                                                     <div class="w-78 btn-group" role="group">
                                                                        <a href="/Admin/Company/Upsert?id=${data}" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                                                                        <a  onClick=Delete('/Admin/Company/Delete/${data}')  class="btn btn-danger mx-2"><i class="bi bi-trash3"></i> Delete</a>
                                                                    </div>
                                                                   `
                        },
                        "width": "15%"
                    },
                ]
            });

        }

        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(url, { method: 'DELETE' })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (data) {
                            // Do something with the response
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message)
                            } else {
                                toastr.error(data.message)
                            }
                        });
                }
            })
        }
    </script>
}